<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }
        th {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h3>Таблица дз: {{hw_name}} группы: {{group_id}}</h3>
    <table border="1">
        <thead>

            <tr>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>